<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
             
              <a href="#sidebar" class="navbar-brand" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
                Categories
              </a>
             
              <h1>|</h1>
             
              <form class="d-flex w-75">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              
              <!-- trial -->
              <ul class="nav justify-content-end">
                
                <li class="nav-item">
                 <a class="nav-link" th:href="@{/itemsform}">Sell</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" th:href="@{/login}">Sign Up</a>
                </li>
              </ul>
              <div class="col">
                <div class="row-2"><img th:src="@{/images/tesfaye.jpg}" class="rounded-circle w-50" alt="profile image"/></div>
                <div class="row-2"><h5>Tesfaye Adugna</h5></div>
              </div> 
    
               <!-- trial -->
            </div>
          </div>
        </nav> 
      </header>
 
<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <p class="text-center w-responsive mx-auto mb-5">If you have any questions or 
comments on our website, you can leave your message below.</p>
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form th:action="@{/save}" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
<div class="md-form">
    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
    <label for="message">Your message</label>
</div>

</div>
</div>
</form>

<div class="text-center text-md-left">
<a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
</div>
<div class="status"></div>
</div>


</section>
<footer class="bg-dark text-white pt-5 pb-4">
<div class="container text-center text-md-left">
<div class="row text-center text-md-left">
<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
<h4 class="mb-4 font-weight-bold text-warning">About us</h4>
<ul class="nav flex-column">

<li class="nav-item">
<a class="nav-link" href="#">About Agenagn</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Our Goals</a>
</li>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Privacy Policy</a>
</li>

</ul>
</div> 
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
<h4 class="mb-4 font-weight-bold text-warning">Important Links</h4>
<ul class="nav flex-column">

<li class="nav-item">
<a class="nav-link" href="#">Our Items</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Your Account</a>
</li>
</li>
<li class="nav-item">
<a class="nav-link" th:href="@{/contact}">Contact Us</a>
</li>

</ul>
</div>
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
<h4 class="mb-4 font-weight-bold text-warning">Contact Us</h4>
<ul class="nav flex-column">

<li class="nav-item">
<a class="nav-link" th:href="@{/itemsform}">Facebook</a>
</li>
<li class="nav-item">
<a class="nav-link" th:href=@{/itemsform}>Telegram</a>
</li>
</li>
<li class="nav-item">
<a class="nav-link"  th:href=@{/itemsform}>Email</a>
</li>
<li class="nav-item">
<a class="nav-link" th:href=@{/itemsform}>Phone</a>
</li>

</ul>
</div>
</div>
</div>
</footer> 

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>