<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home page</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <style>
      .more {
        display: none;
      }
    </style>
</head>
<body>
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Categories -->
          <a href="#sidebar" class="navbar-brand" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
            Categories
          </a>
          <!-- Categories -->
          <h1>|</h1>
          <a class="navbar-brand" th:href="@{/}">Agenagn</a>
          <h1>|</h1>
          <a class="navbar-brand" th:href="@{/itemsform}">Sell</a>
          <form class="d-flex w-75" th:action="@{/search}" method="get">
            <input class="form-control me-2" type="search" name="keyword" th:value="${keyword}" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <a class="navbar-brand" th:href="@{/register}">SignUp</a>
          <h1>|</h1>
          <a class="navbar-brand" th:href="@{/login}">Login</a>
          <h1>|</h1>
          <form class="d-flex" method="POST" th:action="@{/logout}">
            <input type="submit" value="Logout"/>
           </form>
        </div>
      </div>
    </nav> 
  </header>

  <main class="mx-auto w-75" style="margin-top: 5em;">
    <div class="row">
      <div class="col">
        <span class="dots">Click here to see Users List</span>
        <button onclick="myFunction()" class="myBtn">Users list</button>
        <div class="more">
          <h1>Users List</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone</th>
            <th scope="col">email</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="contact : ${listcontact}">
            <td scope="row" th:text="${contact.id}"></td>
            <td th:text="${contact.name}">name</td>
            <td th:text="${contact.email}">email</td>
            <td th:text="${contact.subject}">subject</td>
            <td th:text="${contact.message}">message</td>
            <td>youremail@gmail.com</td>
        </tr>
        </tbody>
    </table>
    </div>
    </div>
    <div class="col">
      <span class="dots">click here to see messages</span>
      <button onclick="myFunction()" class="myBtn">Messages</button>
      <div class="more">
        <h1>Here are your messages</h1>
      <table class="table">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="contact : ${listcontact}">
            <td scope="row" th:text="${contact.id}"></td>
            <td th:text="${contact.name}">name</td>
            <td th:text="${contact.email}">email</td>
            <td th:text="${contact.subject}">subject</td>
            <td th:text="${contact.message}">message</td>
        </tr>
        </tbody>
    </table>
    </div>
    </div>
    </div>

<!-- offcanvas -->
<div class="offcanvas offcanvas-start" tabindex="-1" id = "sidebar" aria-labelledby="sidebar-label">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebar-label">Categories</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" arial-label="close"></button>
  </div>
  <div class="offcanvas-body">
    <ul>
      <li><a class="dropdown-item" href="#">Accessories</a></li>
      <li><a class="dropdown-item" href="#">Electronics</a></li>
      <li><a class="dropdown-item" href="#">Furniture</a></li>
      <li><a class="dropdown-item" href="#">Phone & Tablets</a></li>
      <li><a class="dropdown-item" href="#">Property(House, Land & Appartment)</a></li>
      <li><a class="dropdown-item" href="#">VehicleS</a></li>
    </ul>
  </div>
</div>
<!-- offcanvas -->

</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
  function myFunction() {
    let btnText = event.target,
      context = event.target.parentNode,
      moreText = context.querySelector(".more");
      dots = context.querySelector(".dots");

if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Click Here";
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Back";
      moreText.style.display = "inline";
    }
  }
</script>
    <footer class="bg-dark text-white pt-5 pb-4">
         <div class="container text-center text-md-left">
           <div class="row text-center text-md-left">
             <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
               <h4 class="mb-4 font-weight-bold text-warning">About us</h4>
               <ul class="nav flex-column">
                 <li class="nav-item"><a class="nav-link" href="#">About Agenagn</a></li>
                 <li class="nav-item"><a class="nav-link" href="#">Our Goals</a></li>
                 <li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>
               </ul>
             </div> 
             <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
               <h4 class="mb-4 font-weight-bold text-warning">Important Links</h4>
               <ul class="nav flex-column">
                 <li class="nav-item"><a class="nav-link" href="#">Our Items</a></li>
                 <li class="nav-item"><a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/profile}">Your Account</a></li>
                 <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact Us</a></li>
                 <!-- for Admin -->
                 <li class="nav-item"><a class="nav-link" th:href="@{/getmessage}">Admin</a></li>
                  <!-- for Admin -->
               </ul>
             </div>
             <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
               <h4 class="mb-4 font-weight-bold text-warning">Contact Us</h4>
               <ul class="nav flex-column">
                 <li class="nav-item"><a class="nav-link" th:href="@{/itemsform}">Facebook</a></li>
                 <li class="nav-item"><a class="nav-link" th:href=@{/itemsform}>Telegram</a></li>
                 <li class="nav-item"><a class="nav-link"  th:href=@{/itemsform}>Email</a></li>
                 <li class="nav-item"><a class="nav-link" th:href=@{/itemsform}>Phone</a></li>
               </ul>
             </div>
           </div>
         </div>
       </footer> 
</body>
</html>