<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items form page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Categories -->
          <a href="#sidebar" class="navbar-brand" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
            Categories
          </a>
          <!-- Categories -->
          <h1>|</h1>
          <a class="navbar-brand" th:href="@{/}">Agenagn</a>
          <h1>|</h1>
          <a class="navbar-brand" th:href="@{/itemsform}">Sell</a>
          <form class="d-flex w-75">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <a class="navbar-brand" th:href="@{/register}">SignUp</a>
          <h1>|</h1>
          <a class="navbar-brand" th:href="@{/login}">Login</a>
          <h1>|</h1>
          <form class="d-flex" method="POST" th:action="@{/logout}">
          <input type="submit" value="Logout"/>
          </form>
        </div>
      </div>
    </nav> 
  </header>
  <main style="margin-top: 5em;">
    <div class="form-signin mx-auto w-50">

    <form action="#" th:action="@{/save}" th:object="${item}" method="post" enctype="multipart/form-data">
    <h5>Choose Type of the item</h5>
    <select class="form-select" aria-label="Default select example">
      <option selected>Click here to choose</option>
      <option th:field="*{type}" value="1">Vehicles</option>
      <option th:field="*{type}" value="2">Electronics</option>
      <option th:field="*{type}" value="3">Phone and Tablets</option>
      <option th:field="*{type}" value="3">Furniture</option>
      <option th:field="*{type}" value="3">Accessories</option>
      <option th:field="*{type}" value="3">Property(home, land, apartments ...)</option>
    </select>

        <label for="name" class="form-label mt-2">name</label>
        <input type="text" th:field="*{name}" class="form-control w-50" id="name" placeholder="name of Item" />

        <div class="mb-3">
            <label for="shortControlTextarea1" class="form-label">shortDescription</label>
            <textarea th:field="*{shortDescription}" class="form-control" id="shortControlTextarea1" rows="1"></textarea>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">detailDescription</label>
          <textarea th:field="*{detailDescription}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="mb-3">
          <label for="formFile" class="form-label">Upload photo</label>
          <input class="form-control" type="file" name="image" accept="image/png, image/jpeg" id="formFile">
        </div>

        <label for="price" class="form-label mt-2">Price</label>
        <input type="hidden" th:field="*{id}" />
        <input type="number" th:field="*{price}" class="form-control w-50" id="price" />
        <label for="contact" class="form-label mt-2">Contact</label>
        <input type="tel" th:field="*{contact}" class="form-control w-50" id="contact" placeholder="add your phone number" />
        
        <button type="submit" class="btn btn-primary mt-2">save</button>
    </form>
    </div>
    <!-- offcanvas -->
<div class="offcanvas offcanvas-start" tabindex="-1" id = "sidebar" aria-labelledby="sidebar-label">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebar-label">Categories</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" arial-label="close"></button>
  </div>
  <div class="offcanvas-body">
    <ul>
      <li><a class="dropdown-item" href="#">Accessories</a></li>
      <li><a class="dropdown-item" href="#">Electronics</a></li>
      <li><a class="dropdown-item" href="#">Furniture</a></li>
      <li><a class="dropdown-item" href="#">Phone & Tablets</a></li>
      <li><a class="dropdown-item" href="#">Property(House, Land & Appartment)</a></li>
      <li><a class="dropdown-item" href="#">VehicleS</a></li>
    </ul>
  </div>
</div>
<!-- offcanvas -->
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h4 class="mb-4 font-weight-bold text-warning">About us</h4>
            <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="#">About Agenagn</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Our Goals</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>
            </ul>
          </div> 
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h4 class="mb-4 font-weight-bold text-warning">Important Links</h4>
            <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="#">Our Items</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Your Account</a></li>
              <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact Us</a></li>
              <!-- for Admin -->
              <li class="nav-item"><a class="nav-link" th:href="@{/getmessage}">Admin</a></li>
              <!-- for Admin -->
            </ul>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h4 class="mb-4 font-weight-bold text-warning">Contact Us</h4>
            <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" th:href="@{/itemsform}">Facebook</a></li>
              <li class="nav-item"><a class="nav-link" th:href=@{/itemsform}>Telegram</a></li>
              <li class="nav-item"><a class="nav-link"  th:href=@{/itemsform}>Email</a></li>
              <li class="nav-item"><a class="nav-link" th:href=@{/itemsform}>Phone</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer> 
</body>
</html>