<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items form page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand" href="#">Categories</a>
          <h1>|</h1>
          <a class="navbar-brand" th:href="@{/itemsform}">Sell</a>
          <form class="d-flex w-75">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <div class="row">
            <div class="col-10"><h5 class="float-end">Tesfaye Adugna</h5></div>
            <div class="col-2"><img th:src="@{/images/tesfaye.jpg}" class="rounded-circle w-100" alt="profile image"/></div>
          </div>
        </div>
      </div>
    </nav>
  </header>
    <div class="container">

    <form action="#" th:action="@{/save}" th:object="${item}" method="post" enctype="multipart/form-data">
    <h5>Choose Type of the item</h5>
    <select class="form-select" aria-label="Default select example">
      <option selected>Click here to choose</option>
      <option th:field="*{type}" value="1">Vehicles</option>
      <option th:field="*{type}" value="2">Electronics</option>
      <option th:field="*{type}" value="3">Phone and Tablets</option>
      <option th:field="*{type}" value="3">Furniture</option>
      <option th:field="*{type}" value="3">Accessories</option>
      <option th:field="*{type}" value="3">Property(home, land, apartments ...)</option>
    </select>

        <label for="name" class="form-label mt-2">name</label>
        <input type="text" th:field="*{name}" class="form-control w-50" id="name" placeholder="name of Item" />

        <div class="mb-3">
            <label for="shortControlTextarea1" class="form-label">shortDescription</label>
            <textarea th:field="*{shortDescription}" class="form-control" id="shortControlTextarea1" rows="1"></textarea>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">detailDescription</label>
          <textarea th:field="*{detailDescription}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="mb-3">
          <label for="formFile" class="form-label">Upload photo</label>
          <input class="form-control" type="file" name="image" accept="image/png, image/jpeg" id="formFile">
        </div>

        <label for="price" class="form-label mt-2">Price</label>
        <input type="hidden" th:field="*{id}" />
        <input type="number" th:field="*{price}" class="form-control w-50" id="price" />
        <label for="contact" class="form-label mt-2">Contact</label>
        <input type="tel" th:field="*{contact}" class="form-control w-50" id="contact" placeholder="add your phone number" />
        
        <button type="submit" class="btn btn-primary mt-2">save</button>
    </form>

    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    
</body>
</html>