<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Agenagn</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="#">Categories</a>
            <h1>|</h1>
            <a class="navbar-brand" th:href="@{/itemsform}">Sell</a>
            <form class="d-flex w-75">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="row">
              <div class="col-10"><h5 class="float-end">Tesfaye Adugna</h5></div>
              <div class="col-2"><img th:src="@{/images/tesfaye.jpg}" class="rounded-circle w-100" alt="profile image"/></div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="form-signin mx-auto w-50">
      <h1>Login</h1>

      <div th:if="${error}">
        Unable to login. Check your username and password.
      </div>

      <p>New here? Click <a th:href="@{/register}">here</a> to register.</p>
      <form method="POST" th:action="@{/login}">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <label class="form-label" for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Username"
        />
        <label class="form-label" for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
        />
        <button class="w-100 btn btn-lg btn-primary my-2" type="submit">
          Sign in
        </button>
      </form>
    </main>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>