<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

<head>
    <title>Agenagn</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>
<header class="bg-dark text-white">
    <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" style="margin-left: 5em;">
            <a href="#sidebar" class="navbar-brand" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">Categories</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Agenagn</a></li>
                    <li class="nav-item"><a class="nav-link bg-dark text-white" th:href="@{/itemsform}" tabindex="-1">Sell</a>
                    </li>
                </ul>
                <form class="d-flex w-50 " th:action="@{/search}" method="get">
                    <input class="form-control me-2 w-10" type="search" name="keyword" th:value="${keyword}"
                           placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success text-light" type="submit">Search</button>
                </form>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="d-flex nav-item">
                            <a sec:authorize="! isAuthenticated()" class="nav-link text-light"
                               th:href="@{/login}">LogIn</a>
                            <a sec:authorize="! isAuthenticated()" class="nav-link text-light" th:href="@{/register}">SignUp</a>
                        </li>
                        <li class="col-8"><a sec:authorize=" isAuthenticated()"
                                             class="text-decoration-none text-light bg-dark" th:href="@{/profile}"><h5
                                class="float-end" sec:authorize="isAuthenticated()"
                                th:text="${currentUser.getUsername()}">user first name</h5></a></li>
                        <li><a sec:authorize="! isAuthenticated()" th:href="@{/profile}"
                               class="text-decoration-none text-light bg-dark"><i class="fa fa-user fa-2x"></i></a></li>
                        <li class="col-4" sec:authorize="isAuthenticated()"><a th:if="${!currentUser.hasPhoto()}"
                                                                               th:href="@{/profile}"
                                                                               class="text-decoration-none text-light bg-dark"><i
                                class="fa fa-user fa-2x"></i></a></li>
                        <li class="col-4" sec:authorize="isAuthenticated()"
                            style="width: 3em; margin-right: 3em; margin-left: -3em;"><a
                                th:if="${currentUser.hasPhoto()}" th:href="@{/profile}"
                                class="text-decoration-none text-light bg-dark"><img
                                th:src="@{${currentUser.getPhotosImagePath()}}" class="rounded-circle w-100"
                                alt="profile image"/></a></li>
                        <li>
                            <form class="d-flex" method="POST" th:action="@{/logout}">
                                <input class="btn btn-outline-warning" sec:authorize="isAuthenticated()" type="submit"
                                       value="Logout"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="jumbotron text-center" style="margin-top: 3.2em; padding-top: 2em;">
        <p>A place for trade communication!</p>
        <h1 class="text-warning">AGENAGN</h1>
    </div>
</header>
<main class="form-signin mx-auto w-50" style="margin-top: 5em;">
    <h1>Login</h1>
    <p>New here? Click <a th:href="@{/register}">here</a> to register.</p>
    <h5 class="text-danger" th:if="${errorMessage}" th:text="${errorMessage}">errorMessage</h5>
    <form method="POST" th:action="@{/login}">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <label class="form-label" for="username">Username</label>
        <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Username"
        />
        <label class="form-label" for="password">Password</label>
        <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
        />
        <button class="w-100 btn btn-lg btn-primary my-2" type="submit">
            Sign in
        </button>
    </form>
    <!-- offcanvas -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebar-label">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebar-label">Categories</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" arial-label="close"></button>
        </div>
        <div class="offcanvas-body">
            <ul>
                <li><a class="dropdown-item" href="/accessories">Accessories</a></li>
                <li><a class="dropdown-item" href="/electronics">Electronics</a></li>
                <li><a class="dropdown-item" href="/furniture">Furniture</a></li>
                <li><a class="dropdown-item" href="/phone">Phone & Tablets</a></li>
                <li><a class="dropdown-item" href="/property">Property(House, Land & Appartment)</a></li>
                <li><a class="dropdown-item" href="/vehicle">Vehicle</a></li>
            </ul>
        </div>
    </div>
    <!-- offcanvas -->
</main>

<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h4 class="mb-4 font-weight-bold text-warning">About us</h4>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link  bg-dark text-white" th:href="@{/about}">About Agenagn</a>
                    </li>
                    <li class="nav-item"><a class="nav-link  bg-dark text-white" th:href="@{/terms}">Terms Of Use</a>
                    </li>
                    <li class="nav-item"><a class="nav-link  bg-dark text-white" th:href="@{/privacy}">Privacy
                        Policy</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h4 class="mb-4 font-weight-bold text-warning">Important Links</h4>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link  bg-dark text-white"
                                            th:href="@{/profile}">Your Account</a></li>
                    <li class="nav-item"><a class="nav-link  bg-dark text-white" th:href="@{/contact}">Contact Us</a>
                    </li>

                    <!-- for Admin -->
                    <li sec:authorize="hasRole('ADMIN')" class="nav-item"><a class="nav-link  bg-dark text-white"
                                                                             th:href="@{/getmessage}">Dashboard</a></li>
                    <!-- for Admin -->
                </ul>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h4 class="mb-4 font-weight-bold text-warning">On Social Media</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link  bg-dark text-white" th:href="@{https://www.facebook.com/redu.redi.501}"><i class="fa fa-facebook"></i>
                            Facebook</a>
                    <li class="nav-item">
                        <a class="nav-link  bg-dark text-white" th:href="@{https://t.me/agenagn_web}"><i
                                class="fa fa-telegram"></i> Telegram </a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  bg-dark text-white" th:href=@{mailto:/redietasnakech@gmail.com}><i
                                class="fa fa-envelope"></i> Email</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-dark text-white" th:href=@{tel:/+251939570613}><i class="fa fa-phone"></i>
                            Phone</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>