<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home page</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <style>
      .more {
        display: none;
      }
    </style>
</head>
<body>
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Categories -->
          <a href="#sidebar" class="navbar-brand" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
            Categories
          </a>
          <!-- Categories -->
          <h1>|</h1>
          <a class="navbar-brand" th:href="@{/}">Agenagn</a>
          <h1>|</h1>
          <a class="navbar-brand" th:href="@{/itemsform}">Sell</a>
          <form class="d-flex w-75" th:action="@{/search}" method="get">
            <input class="form-control me-2" type="search" name="keyword" th:value="${keyword}" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <a sec:authorize="! isAuthenticated()" class="navbar-brand" th:href="@{/register}">SignUp</a>
          <h1 sec:authorize="! isAuthenticated()">|</h1>
          <a sec:authorize="! isAuthenticated()" class="navbar-brand" th:href="@{/login}">Login</a>
          <div sec:authorize="isAuthenticated()" class="row">
            <div class="col-9"><a sec:authorize="isAuthenticated()" th:href="@{/profile}"><h5 sec:authorize="isAuthenticated()"  th:text="${currentUser.getUsername()}" class="float-end">user firt name</h5></a></div>
            <div class="col-3"><a sec:authorize="isAuthenticated()" th:href="@{/profile}"><img th:src="@{/images/guest-user.jpg}" class="rounded-circle w-100" alt="profile image"/></a></div>
           </div>
           <form class="d-flex" method="POST" th:action="@{/logout}" style="margin-left: 3em;">
            <input sec:authorize="isAuthenticated()" type="submit" value="Logout"/>
           </form>        
      </div>
    </nav> 
  </header>
    <main class="mx-auto w-50" style="margin-top: 5em;">
      <div sec:authorize="isAuthenticated()" class="row mx-auto">
        <div class="mx-auto" style="width: 50%;"><img th:src="@{/images/guest-user.jpg}" class="rounded-circle w-100" alt="profile image"/></div>
        <div style="text-align: center;">
          <span th:text="${currentUser.getFirstName()}"></span> <span th:text="${currentUser.getLastName()}"></span>
        </div>
    </main>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

  <footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h4 class="mb-4 font-weight-bold text-warning">About us</h4>
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#">About Agenagn</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Our Goals</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>
          </ul>
        </div> 
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h4 class="mb-4 font-weight-bold text-warning">Important Links</h4>
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#">Our Items</a></li>
            <li class="nav-item"><a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/profile}">Your Account</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact Us</a></li>
            <!-- for Admin -->
            <li class="nav-item"><a class="nav-link" th:href="@{/getmessage}">Admin</a></li>
             <!-- for Admin -->
          </ul>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h4 class="mb-4 font-weight-bold text-warning">Contact Us</h4>
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" th:href="@{/itemsform}">Facebook</a></li>
            <li class="nav-item"><a class="nav-link" th:href=@{/itemsform}>Telegram</a></li>
            <li class="nav-item"><a class="nav-link"  th:href=@{/itemsform}>Email</a></li>
            <li class="nav-item"><a class="nav-link" th:href=@{/itemsform}>Phone</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer> 
</body>
</html>